# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Dependency directories
node_modules/

# Expo / React Native
.expo/
.expo-shared/
.expo/*
web-build/
.dist/
dist/
build/
.cache/

# iOS
ios/build/
ios/Pods/
ios/*.xcodeproj/
ios/*.xcworkspace/

# Android
android/.gradle/
android/.cxx/
android/build/
android/local.properties
android/**/build/
android/app/release/
android/app/debug/
android/app/debug.keystore
android/app/google-services.json

# IDEs and editors
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Coverage
coverage/

# Misc
.turbo/
